In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

From encuentroscompleto2.csv make a parejas2.csv that saves each couple.

In [3]:
csvName= "encuentroscompleto_neardaysreal2.csv"
csvNameOut="parejas2diasDif.csv"

df=pd.read_csv(csvName,sep=";")
dates=np.unique(df["day"])
parejas=[]
for date in dates:
    #get all points for a date
    dfaux=df[df["day"]==date]
    t1=dfaux["name one"].values
    t2=dfaux["name two"].values
    paux=[]
    for i in range(len(t1)):
        paux.append(t1[i]+"_"+t2[i])
    
    parejas.append(np.unique(paux))
#make a dataframe using dates as collums names and each array of parejas as rows. Fill each column with the strings of the parejas.
dfparejas=pd.DataFrame(columns=dates,dtype=str)
for i in range(len(dates)):
    dfparejas.iloc[:,i]=pd.Series(parejas[i])
#sort columns names in dataframe. This should be according to the order of dates. Fist it should be getting the dates from column names and then sort them. The column names are strings so i need to convert them to date object to sort it.
idx = pd.to_datetime(dfparejas.columns, errors='coerce', format='%d-%m-%y').argsort()
dfparejas=dfparejas.iloc[:, idx]

dfparejas.to_csv(csvNameOut,sep=";")

countConections for each node

In [4]:
#flatten parejas
parejasflat=[]
for i in range(len(parejas)):
    for j in range(len(parejas[i])):
        parejasflat.append(parejas[i][j])
parejasflat=np.unique(parejasflat)
#separe parejasflat into two arrays, for each element of parejas flat separe where there is "_"
parejasflat1=[]
parejasflat2=[]
for i in range(len(parejasflat)):
    parejasflat1.append(parejasflat[i].split("_")[0])
    parejasflat2.append(parejasflat[i].split("_")[1])
#get uniques names 
names=np.unique(parejasflat1+parejasflat2)
conectionsForName=np.zeros(len(names))
for i in range(len(names)):
    parejas_name=[]
    for j in range(len(parejasflat1)):
        if parejasflat1[j]==names[i]:
            if not parejasflat2[j] in parejas_name:
                conectionsForName[i]+=1
                parejas_name.append(parejasflat2[j])
    for j in range(len(parejasflat2)):
        if parejasflat2[j]==names[i]:
            if not parejasflat1[j]in parejas_name:
                conectionsForName[i]+=1
                parejas_name.append(parejasflat1[j])

In [6]:
plt.title("+-2 day, 17 turtles ")
labels, counts = np.unique(conectionsForName, return_counts=True)
plt.bar(labels, counts, align='center')
plt.gca().set_xticks(labels)

plt.xlabel("Number of connections")
plt.ylabel("Number of turtles")
plt.savefig("histogram_conections_20daydif.pdf")

Graficar red

In [1]:
import DataAnalysis.primerasRedes.grafoDeCsvEncuentros as graph
import matplotlib.pyplot as plt
%matplotlib qt
file="D:\\facultad\\IB5toCuatri\\Tesis\\MaestriaMarco\\DataAnalysis\\encuentros_csv\\encuentroscompleto_tiempo_largo.csv"
plt.title("Interaction Network, only same day   encounters")
G=graph.plot_weighted_graph(file)

Matriz de coincidencia

In [21]:
import matriz_de_coincidencia
import numpy as np
folder="D:\\facultad\\IB5toCuatri\\Tesis\\MaestriaMarco\\DataAnalysis\\todaslascampanas"
df,dates,t_names=matriz_de_coincidencia.get_files_and_dates(folder)

In [28]:
df_coincidencia=matriz_de_coincidencia.matriz_de_coincidencia(df,dates,t_names)
df_igotos=df_coincidencia[df_coincidencia["turtles"].isin(["T10","T12","T6","T30","T54","T79"])]
df_igotos.index=range(len(df_igotos))
df_igotos=df_igotos.replace(0,np.nan).dropna(axis=1,thresh=2)
df_igotos=df_igotos.replace(np.nan,0)
df_igotos.to_csv("tortugas_igoto_coincidencias.csv",sep=";")

,turtles,1/12/2020,10/1/2021,11/1/2021,12/1/2021,13/1/2021,14/1/2021,2/12/2020,21/1/2022,21/11/2021,...,22/11/2021,23/1/2022,23/11/2021,24/1/2022,24/11/2021,25/11/2021,26/11/2021,27/11/2021,3/12/2020,30/11/2020
0,T10,12.0,55.0,45.0,75.0,74.0,71.0,13.0,0.0,74.0,...,80.0,0.0,65.0,0.0,73.0,0.0,84.0,4.0,6.0,7.0
1,T12,0.0,0.0,0.0,0.0,0.0,0.0,6.0,27.0,0.0,...,0.0,32.0,0.0,17.0,0.0,0.0,0.0,0.0,9.0,0.0
2,T30,146.0,112.0,117.0,152.0,72.0,72.0,145.0,68.0,0.0,...,0.0,61.0,0.0,0.0,0.0,0.0,0.0,0.0,131.0,71.0
3,T54,0.0,0.0,0.0,0.0,0.0,0.0,0.0,48.0,77.0,...,80.0,70.0,71.0,78.0,55.0,56.0,80.0,30.0,0.0,0.0
4,T6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,78.0,...,30.0,0.0,1.0,0.0,76.0,80.0,0.0,0.0,0.0,0.0
5,T79,12.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0